/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* SAVE THE DATE */

@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir.ttc');
}
@font-face {
  font-family: Cherolina;
  src: url('fonts/Cherolina.otf');
}

body{
  background-image: url('img/background.png');
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Avenir', sans-serif;
  position: relative;
  color: #637589;
}

header{
  position: relative;
  display: flex;
}

.header-left{
  display: flex;
  align-items: center;
  flex: 1 0 0;
}

.header-plant{
  height: 262px;
  margin-top: -113px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.header-title{
  margin-left: -3em;
}
.header-monograma{
  margin-right: 2em;
}
.header-title p{
  font-size: 14px;
}

.calligraphy{
  color: #C3AD72;
  font-family: 'Cherolina', cursive;
  font-size: 56px;
  font-weight: 100;
  line-height: 1;
}

.container{
  display: flex;
  max-width: 1382px;
  margin: auto 2em;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
}

.sidebar{
  min-height: 1em;
  flex: 1 0 208px;
  display: flex;
  flex-direction: column;
}

nav h6{
  text-transform: uppercase;
  color: #C3AD72;
  font-weight: 600;
  font-size: 16px;
  margin:0;
  margin-bottom: 16px;
}

nav a{
  margin-top: 16px;
  text-transform: uppercase;
  color: #C3AD72;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

nav a:hover{
  color: #637589 !important;
  font-weight: 600 !important;
}

nav a:visited{
  color: #C3AD72;
  font-weight: 600;
}

.active{
  color: #637589 !important;
  font-weight: 600 !important;
  padding-left: 8px;
  border-left: 4px #637589 solid;
}


a.logout{
  margin-top: 32px;
}

a.logout:visited,
a.logout:active{
  padding: 0;
  border: none;
}

.content{
  background: blue;
  min-height: 1em;
  flex: 3 0 902px;
}
